@using Microsoft.AspNetCore.Components.Routing

<footer class="mt-auto">
    <div class="container-fluid py-3 bg-light border-top">
        <span class="text-muted text-center d-block">

        </span>
    </div>
</footer>

@code {
    // Код для логики футтера, если потребуется
}
